a {
  color: #474747;
  text-decoration: none;
  font-size: 1.4em;
}
.navBar {
  display: inline-flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  background: #cde6fa;
  border: 1px solid #bbb;
  border-radius: 8px;
}
